
<div class="container-fluid col-lg-12 col-sm-12 col-md-12 col-xs-12 mt-5">

    <div class=" row col-lg-12 col-sm-12 col-md-12 col-xs-12 ms-5 mb-4 profile">
        <h6 class="" style="text-align: center; padding: 3.5em;">Navin H Thapa</h6>
    </div>
    
    <div class="row col-lg-12 col-sm-12 col-md-12 col-xs-12 category  ms-5 ">
     <ul>
        <h5 class=" categ-head mb-4 mt-5">Categories</h5>
        <li class="categ-list"><a routerLink="general">General</a></li>
        <li  class="categ-list"><a routerLink="tech">Technology</a></li>
        <li  class="categ-list"><a routerLink="business">Business</a></li>
        <li  class="categ-list"><a routerLink="sports">Sports</a></li>
        <li  class="categ-list"><a href="#">Health Care</a></li>
        <li  class="categ-list"><a href="#">Jobs</a></li>
        <li  class="categ-list"><a href="#">Media</a></li>
        <li  class="categ-list"><a href="#">Defence</a></li>
        <li  class="categ-list"><a href="#">Energy</a></li>
        <li  class="categ-list"><a href="#">Games</a></li>
    
    </ul>
    </div>

</div>
