<nav class="navbar nvbar navbar-expand-lg bg-light rounded-5 fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">NEWS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" ></span>
      <span ></span>
      <span ></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-bar">
        <li class="nav-item">
          <a class="nav-link home" aria-current="page" routerLink=""><i class="fa-solid fa-house"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" ><i class="fa-solid fa-film"></i>Video</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#">
            <i class="fa-solid fa-square-poll-horizontal"></i>Pools
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-solid fa-image-portrait"></i>Magazine</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control rounded-5 me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success rounded-5" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>